@use '../App.scss';
.campaigns-list {
  margin-top: 30px;
  width: 90vw;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.campaigns-list .name-header {
  font-size: 1.4em;
  margin-bottom: 1em;
  font-weight: 600;
}

.campaigns-list .campaign-element {
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 20px 30px 20px;
  flex-direction: column;
  margin-bottom: 3em;
}

@media (max-width: 992px) {
  .campaigns-list .campaign-element .details-container {
    flex-wrap: wrap;
  }
}

.campaigns-list .campaign-element .campaign-name {
  font-size: 1.6em;
  font-weight: 600;
  margin: 0.2em 0 0.5em 0;
}

@media (max-width: 768px) {
  .campaigns-list .campaign-element .campaign-name {
    font-size: 1.4em;
  }
}

@media (max-width: 768px) {
  .campaigns-list .campaign-element .campaign-name {
    text-align: center;
    margin-bottom: 1em;
  }
}

.campaigns-list .campaign-element .campaign-details {
  display: flex;
  flex-direction: column;
  width: 27%;
  font-size: 1.1em;
}

@media (max-width: 1200px) {
  .campaigns-list .campaign-element .campaign-details {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .campaigns-list .campaign-element .campaign-details {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .campaigns-list .campaign-element .campaign-details {
    width: 100%;
    margin-bottom: 1em;
  }
}

.campaigns-list .campaign-element .campaign-details div:first-of-type {
  margin-bottom: 0.5em;
}

.campaigns-list .campaign-element .campaign-details:first-child {
  width: 40%;
}

@media (max-width: 992px) {
  .campaigns-list .campaign-element .campaign-details:first-child {
    width: 46%;
  }
}

@media (max-width: 768px) {
  .campaigns-list .campaign-element .campaign-details:first-child {
    width: 100%;
    margin-bottom: 1em;
  }
}

.campaigns-list .campaign-element .keyword {
  background-color: var(--boring-gray);
  margin-right: 10px;
  padding: 2px;
  color: #388e3c;
  font-weight: 600;
}

.campaigns-list .campaign-element .campaign-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  width: 10%;
  font-size: 1.1em;
}

@media (max-width: 1200px) {
  .campaigns-list .campaign-element .campaign-options {
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .campaigns-list .campaign-element .campaign-options {
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    width: 30%;
  }
}

@media (max-width: 768px) {
  .campaigns-list .campaign-element .campaign-options {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .campaigns-list .campaign-element .campaign-options div:first-of-type {
    margin-bottom: 0.5em;
  }
}

.campaigns-list .campaign-element .campaign-options .edit-btn, .campaigns-list .campaign-element .campaign-options .delete-btn {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.campaigns-list .campaign-element .campaign-options .edit-btn {
  background-color: var(--boring-gray);
  color: var(--blue-primary);
  padding: 0.2em 2px;
  margin-bottom: 0;
  border-radius: 5px;
}

.campaigns-list .campaign-element .campaign-options .delete-btn {
  color: #C62828;
}
