form {
  margin-top: 30px;
}

@media (max-width: 992px) {
  form div:not(:first-child):not(.buttons) {
    flex-direction: column;
  }
}

form div {
  display: flex;
}

form label {
  display: flex;
  flex-direction: column;
  width: 35em;
  color: #5b6775;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 1.5em;
  margin-right: 40px;
}

@media (max-width: 1200px) {
  form label {
    width: 25em;
  }
}

@media (max-width: 992px) {
  form label {
    width: 30em;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  form label {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

form label input {
  margin-top: 0.3em;
  background-color: var(--boring-gray);
  border: none;
  padding: 10px;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 5px;
}

form label.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  margin-top: 20px;
  max-width: 30em;
}

@media (max-width: 992px) {
  form label.status {
    margin-top: 0;
  }
}

form label.status input[type=checkbox] {
  margin: 0 0 0 10px;
  transform: scale(1.5);
}

form label:focus-within {
  color: var(--blue-primary);
}

form div.buttons {
  width: 65em;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  form div.buttons {
    width: 47em;
  }
}

@media (max-width: 992px) {
  form div.buttons {
    width: initial;
    justify-content: left;
  }
}

@media (max-width: 576px) {
  form div.buttons {
    justify-content: center;
  }
}

form button {
  padding: 8px 12px;
  font-size: 1.1em;
  font-weight: 500;
  border: none;
  border-radius: 1px;
}

form button[type=reset] {
  color: var(--blue-primary);
  background-color: var(--boring-gray);
  margin-right: 20px;
}

form button[type=submit] {
  color: #fff;
  background-color: var(--blue-primary);
}
